#app { height: 100% }
html,
body {

  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
 
}


.swiper-slide img {
  display: flex;
  width: 100%;
 
}
.swiper-scrollbar-drag
{
    width: 20% !important; 
    background: rgba(0,0,0,0.75)!important;
    /* width: 300px !important;  */
    /* position: static !important; */
    
}


.swiper-scrollbar-horizontal
{
    
    background: #7c877f !important;
    height: 2px !important;
    /* bottom: 0 !important; */
    /* top: 100% !important; */
    /* margin: 10px 0; */
    /* position: absolute !important; */
    z-index: 50px !important;
    /* margin-right: 80px !important; 
    margin-left:  80px !important; */
    margin-top: 50px;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
/* width: auto !important; */
position: sticky;
}
.swiper-wrapper{
 
  align-items: baseline;
  
}
.swiper-button-prev{
    background-color: #333333;
    height: 80px !important;
    width: 80px !important;
    position: absolute;
    top:60%;
    left: 0;
}
.swiper-button-prev:after{
    font-size: medium !important;
    color: white !important;
}
.swiper-button-next{
    background-color: #333333;
    height: 80px !important;
    width: 80px !important;
    position: absolute;
    top:60%;
    right: 0;
}
.swiper-button-next:after{
    font-size: medium !important;
    color: white !important;
}
.swiper-button-disabled
{
    opacity: 100 !important;
}

@media only screen and (min-width: 769px) {

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

  
