#app { height: 100% }
html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-slide img {
  display: flex;
  width: 100%;
  
}
.swiper-scrollbar-drag
{
    /* width: 30% !important; */
   
    background: rgba(0,0,0,0.75)!important;
}
.swiper-scrollbar-horizontal
{
    width: 90% !important;
    left: 5%!important;
    color: #CCCBC2;
    height: 3px !important;
    bottom: 1px !important;
    margin-top: 10px;
    position: static !important;
    z-index: 0 !important;
}
.swiper-wrapper{
 
  align-items: baseline;
 
}
.swiper-button-prev{
    background-color: #333333;
    height: 80px !important;
    width: 80px !important;
    
    left: 0;
}
.swiper-button-prev:after{
    font-size: medium !important;
    color: white !important;
}
.swiper-button-next{
    background-color: #333333;
    height: 80px !important;
    width: 80px !important;
    right: 0;
}
.swiper-button-next:after{
    font-size: medium !important;
    color: white !important;
}
.swiper-button-disabled
{
    opacity: 0 !important;
}

@media only screen and (min-width: 769px) {
  /* .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  } */

   /* .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  } 

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  } */

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

  
